/.vs
/Debug
/Release
/x64
/GameServerP-TermProject_DummyClient/Debug
/GameServerP-TermProject_DummyClient/Release
/GameServerP-TermProject_DummyClient/x64
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
