/.vs
/Debug
/Release
/x64
/GameServerP-TermProject_Server/Debug
/GameServerP-TermProject_Server/Release
/GameServerP-TermProject_Server/x64
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
