/.vs
/Debug
/Release
/x64
/GameServerP-TermProject_Client/Debug
/GameServerP-TermProject_Client/Release
/GameServerP-TermProject_Client/x64
/GameServerP-TermProject_Client/Sound
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
