/.vs
/Debug
/Release
/x64
/GameServerP-TermProject_QueryServer/Debug
/GameServerP-TermProject_QueryServer/Release
/GameServerP-TermProject_QueryServer/x64
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
